

#time_slider
{
    position: absolute;
    bottom: 20px;
    width: 100%;

    user-select: none;
}

#time_slider_visual_wrapper
{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px 20px;

    max-width: 500px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

#time_slider .slider
{
    flex-grow: 1;
}

@media (pointer: coarse)
{
    input[type="range"]::-webkit-slider-thumb
    {
        width: 24px;
        height: 24px;
    }
    input[type="range"]::-moz-range-thumb
    {
        width: 24px;
        height: 24px;
    }
    input[type="range"]::-ms-thumb
    {
        width: 24px;
        height: 24px;
    }
}
